.post-form {
	text-align:center;
	margin-top: 100px;
	background-color: rgba(70,70,100,.2);
}
.navbar-header {
	background-color:rgba(20,20,90,.7);
}
.container {
	width:1280px;
}
.post-view {
	text-align:center;
	color:rgb(70,70,100);
}
.show {
	text-align:center;
}
.edit-button {
	color:white;
	background-color: rgb(40,40,70)
}
.navbar-brand {
	color:white;
}
.fixer {
	background-color:rgba(50,50,70,.6);
}
.username {
	background-color:rgba(5,5,5,.1);
}
.caption-posts{
	background-color:rgba(20,60,20,.3);
	color:black;
	font-family: helvetica;
}
