.post-form {
	text-align:center;
	margin-top: 100px;
	background-color: rgba(70,70,100,.2);
}
.navbar-header {
	background-color:rgba(70,70,100,.2);
}
.container {
	width:1280px;
}
.post-view {
	text-align:center;
	color:rgb(70,70,100);
}