
.post-user {
	font-family: 'Jockey One', sans-serif;
	color: black;
	font-size:40px;
}
.post-ind {
	border:1px solid black;
}
.comments{
	font-family: 'Padauk', sans-serif;
	background-color:rgba(255,255,255,.1);
	color:black;
}

.post-form {
	text-align:center;
	margin-top: 100px;
	background-color: rgba(70,70,100,.2);
}

.regist {
	text-align:center;
}
.navbar-header {
	background-color:rgba(20,20,90,.7);
}
.container {
	width:1280px;
}
.post-view {
	text-align:center;
	color:rgb(70,70,100);
	background-color:rgba(20,60,20,.3);
}
.show {
	text-align:center;
}
.edit-button {
	color:white;
	background-color: rgb(40,40,70)
}
.navbar-brand {
	color:white;
}
.form-actions {
	background-color:black;
	border-radius: 10px;
}

.post-caption{
	background-color:rgba(60,20,20,.2);
	color:black;
	font-family: 'Jockey One', sans-serif;
	font-size:20px;
	border-radius:40%;
}
